version: 1

handlers:
  console:
    class : logging.StreamHandler
    formatter: default
    level   : INFO
    stream  : ext://sys.stdout
  metrics_manager.debug.file:
    class : logging.handlers.RotatingFileHandler
    formatter: json
    level   : DEBUG
    filename: logs/metrics_manager.debug.log
    maxBytes: 1_000_000
    backupCount: 3
  metrics_manager.info.file:
    class : logging.handlers.RotatingFileHandler
    formatter: json
    level   : INFO
    filename: logs/metrics_manager.info.log
    maxBytes: 1_000_000
    backupCount: 3
  node_network.node_client.debug.file:
    class : logging.handlers.RotatingFileHandler
    formatter: json
    level   : DEBUG
    filename: logs/node_network.node_client.debug.log
    maxBytes: 1_000_000
    backupCount: 3

formatters:
  brief:
    format: '%(message)s'
  default:
    format: '%(asctime)s %(levelname)-8s %(message)s'
    datefmt: '%Y-%m-%d %H:%M:%S'
  verbose:
    format: "%(asctime)s,%(msecs)d - %(name)s - %(levelname)-8s - %(message)s"
    datefmt: "%Y-%m-%d %H:%M:%S"
  json:
    class: pythonjsonlogger.jsonlogger.JsonFormatter
    format: '%(asctime)s %(levelname)s %(message)s'

loggers:
  metrics_manager:
    level: DEBUG
    handlers:
      - console
      - metrics_manager.debug.file
      - metrics_manager.info.file
  metrics_processor.processor:
    level: DEBUG
    handlers:
      - console
      - metrics_manager.debug.file
      - metrics_manager.info.file
  metrics_processor.pipeline:
    level: DEBUG
    handlers:
      - console
      - metrics_manager.debug.file
      - metrics_manager.info.file
  data_node_network.node_client:
    level: DEBUG
    handlers:
      - console
      - node_network.node_client.debug.file